@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Abhaya Libre", serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

ul {
  display: inline-block;
}

li {
  background-color: #15114c;
  color: #fff;
  border-radius: 10px;

}

li:hover {
  background-color: #fff;
  color: #15114c;
}

header {
  background-color: #423ca3;
  color: #fff;
}

@media only screen and (min-width: 60em) {

  nav {
    text-align: right;
  }

  .logo {
    text-align: left;
  }

}
